<h1>Create a new contact</h1>
<form>
    <div>
        <label>name</label>
        <input type="text" name="name"/>
    </div>
   
    <div>
        <label>email</label>
        <input type="text" name="email"/>
    </div>
 
    <div>
        <input type="submit" value="create contact"/>
    </div>
</form>